html,
body {
  font-size: 100%;
}

body {
  background: #bbb url(http://i.imgur.com/UhsnWsT.png);
  color: #222222;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  position: relative;
}

div#wrapper {
    width: 770px;
    margin: 0 auto;
    background: #ddd url(http://i.imgur.com/m7iMqFU.png) no-repeat;
}

header {
    height: 110px;
    position: relative;
}

div#content {
    background-color: #fff;
    padding: 5px;
}

#wrapper a:link, #wrapper a:visited {
    text-decoration: none;
    color: #b36b00;
}

#wrapper a:hover, #wrapper a:active {
    color: #566440;
    border-bottom: 1px dashed #566440;
}

div#logo {
	
}

header nav {
    position: absolute;
    left: 70px;
    bottom: 0px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    float: left;
    margin: 0;
    padding:0;
}

nav li a:link, nav li a:visited {
    font-family: "Trebuchet MS", sans-serif;
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 0 5px 0 20px;
    margin-right: 5px;
    line-height: 25px;
    border: none;
}

nav li a:hover, nav li a:active {
    color: #f8b449;
    background-position: left top;
}

nav ul li a.current {
    margin-top: -5px;
    height: 30px;
    background-color: light-grey;
    color: #aaa;
    line-height: 25px;
}

nav ul li a.current:hover {
    cursor: default;
}

#content div#mainContent {
    float: left;	
    width: 430px;
    margin: 0 0;
    padding: 0 15px;
}

#mainContent p {
    font-family: Georgia, serif;
    font-size: 1.0em;
    line-height: 1.4em;
    color: #000;
    margin: 1ex 0;
}

#mainContent h1, #mainContent h2, #mainContent h3, #mainContent h4 {
    font-family: "Trebuchet MS", sans-serif;
}

#mainContent h1 {
    font-size: 1.6em;
    font-weight: bold;
    color: #1b9d95;
    margin: 0 0 .4ex 0;
	align: center,
}

#mainContent h2 {
    font-size: 1.2em;
    color: #3C3809;
    margin: .4ex 0;
}

#mainContent h4 {
    font-size: 1.1em;
    font-weight: bold;
    color: #666;
    margin: 1ex 0 -.2ex 0;
}

#mainContent ul {
    font-family: Georgia, serif;
    font-size: 0.9em;
    margin: 0 0 1.4ex 0;
}

/* ===== sidebar ===== */

#content div#sideBar {
    float: right;
    width: 265px;
    padding: 0 10px;
    margin: 0;
    border-left: solid #aaa 1px;
}

#sideBar p {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 0.8em;
    line-height: 1.2em;
    color: #666;
    margin: 0 0 3ex 0;
}

#sideBar h3 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: #1b9d95;
    text-align: left;
    margin: 1ex 0 .5ex 0;
}

#sideBar img {
    margin: 0 25px;
}

#sideBar img.photo {
    padding: 5px;
    border: 1px solid #999;
}

#sideBar ol {
    margin: .5em 0 1.5em 0 ;
}

#sideBar li {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 0.8em;
    color: #666;
    margin: .2em .5em;
}

form {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

form div + div {
    margin-top: 1em;
}

label {
    display: inline-block;
    width: 90px;
    text-align: right;
}

input, textarea {
    font: 1em sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999;
}

input:focus, textarea:focus {
    border-color: #000;
}

footer {
    clear: both;
    background: transparent;
    margin: 0 auto;
    padding: 5px;
}

footer p {
    font-family: "Trebuchet MS", sans-serif;
    font-size: .75em;
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
}

footer a {
    color: #1b9d95;
    text-decoration: none;
}

footer strong {
    color: #000000;
    text-decoration: none;
}

.clear { clear: both }
